node_modules
.next
out
pnpm-lock.yaml
.env.local
*.env
.env.*
.vercel
*.log
pnpm-debug.log*
package-lock.json
yarn-error.log*
npm-debug.log*
coverage
playwright-report
test-results
.turbo
.DS_Store
.idea
.vscode
